.wrapper {
    display: flex;
    align-items: center;
    border-bottom: 0.1rem solid #3f3e3e;
}

.logImg {
    width: 2rem;
    height: 2rem;

}

.dollarImg {
    width: 1.7rem;
    height: 1.7rem;
}

.notificationImg {
    width: 1.8rem;
    height: 1.8rem;
}
.logo {
    outline: none;
    text-decoration: none;
    color: #498ae7;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    padding-left: 7.4rem;
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.titleLogo {
    font-size: 2rem;
}

.cryptoInfo {
    display: flex;
    font-size: 1.2rem;
    color: silver;
    font-family: "Noto Sans", sans-serif;
    gap: 3.2rem;
    padding-left: 2.2rem;
}

.setFiat {
    display: flex;
    padding-left: 2.2rem;
    border-right: 0.2rem solid #3a3838;
    padding-right: 3rem;
}

.search {
    display: flex;
    height: 3.2rem;
    width: 26rem;
    align-items: center;
    gap: 1.6rem;
    padding-left: 1.6rem;
    background-color: #3a3838;
    border-radius: 2rem;
    margin-left: 15.3rem;
}

.input {
    outline: none;
    border: none;
    width: 20rem;
    font-size: 1.6rem;
    color: white;
    font-family: "Noto Sans", sans-serif;
    background-color: #3a3838;
}

.select {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    width: 10.9rem;
    height: 3.4rem;
    font-size: 1.4rem;
    background-color: #3a3838;
    border-radius: 2rem;
    font-family: "Noto Sans", sans-serif;
    justify-content: center;
    color: silver;
}

.user {
    display: flex;
    align-items: center;
    margin-left: 3rem;
    background-color: #3a3838;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
}

.cryptoInfoT {
    color: #498ae7;
    font-weight: 600;
    font-size: 1.4rem;
}

.notification {
    width: 3.4rem;
    height: 3.4rem;
    background-color: #3a3838;
    margin-left: 1.6rem;
    border-radius: 2.0rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchContainer {
    position: relative;
}
.searchBox {
    position: absolute;
    top: 3.5rem;
    right: -0.4rem;
    min-height: 19.6rem;
    height: 19.6rem;
    width: 27.5rem;
    overflow: auto;
    background-color: #3d3b3b;
}

.searchBoxItem {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1.5rem;
    font-size: 1.3rem;
    color: silver;
    outline: none;
    border: none;
    text-decoration: none;
}

.searchBoxItem:hover {
    cursor: pointer;
    background-color: #5e5c5c;
    outline: none;
    border: none;
    text-decoration: none;
}

.img {
    width: 2.5rem;
    height: 2.5rem;
}

.rank {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.name {
    font-size: 1.5rem;
}

.noResult {
    padding: 8.5rem;
    width: 10rem;
    font-size: 2.0rem;
    color: silver;
}

.abolition {
    position: absolute;
    top: 2rem;
    right: 26rem;
    z-index: 1;
}

.abolition:hover {
    cursor: pointer;
}

@media (max-width: 1024px) {
    .cryptoInfo {
        display: none;
    }

    .search {
        margin-left: 6rem;
    }

}

@media (max-width: 500px) {

    .logo {
        padding-left: 1.7rem;
        width: 13rem;
    }

    .searchBox {
    width: 25rem;
    }
    .setFiat {
        border-right: none;
        padding-left: 1rem;
        padding-right: 0;
    }
    .search {
        margin-left: 1rem;
        width: 12rem;
    }
    .user   {
        display: none;
    }
    .notification   {
        display: none;
    }
    .input {
        width: 5rem;
    }
}