
.container {
    display: flex;
    gap: 1.5rem;
    padding-bottom: 1rem;
}

.currenci {
    padding-top: 0.5rem;
    color: silver;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-size: 1.5rem;
}

.currenciName {
    color: #676666;
    font-size: 1.4rem;
}

.rank {
    font-size: 1.5rem;
    color: silver;
    background-color: #3a3838;
    width: 7.5rem;
    text-align: center;
    border-radius: 1rem;
    margin-top: 3.5rem;
}

.title {
    display: flex;
    gap: 1rem;
    align-items: center;
    align-content: center;
    padding-top: 2rem;
}

.img {
    width: 3rem;
    height: 3rem;
}

.name {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    color: #ece6e6;
}

.symbol {
    padding-top: 0.5rem;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    color: #989595;
}

.price {
    font-size: 3rem;
    font-weight: 500;
    color: white;
    padding-top: 1.5rem;

}

.rightSide {
    padding-left: 5.7rem;
}

.change {
    font-size: 1.5rem;
    display: flex;
    padding-top: 1rem;
}

.prices {
    display: flex;
    gap: 1rem;
    align-items: center;

}

.options {
    padding-top: 2rem;
    display: flex;
    gap: 1rem;
}

.button {
    width: 4.5rem;
    height: 3.5rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    color: silver;
    background-color: #3f3e3e;
}

.button:hover {
    cursor: pointer;
    background-color: #504f4f;
}

.priceTitle {
    width: 30rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1rem solid #818080;
    padding: 0.5rem;
    font-size: 1.3rem;
    color: #818080;
}

.priceData {
    padding-top: 4.5rem;
    display: grid;
    grid-gap: 0 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.priceTitleNum {
    color: #d3cece;
    font-size: 1.5rem;
}

.linkCurrenci {
    text-decoration: none;
    outline: none;
    color: #d3cece;
}

.infoItem {
    display: flex;
    gap: 0.5rem;
    padding-top: 1.5rem;
}

.infoTitle {
    font-size: 1.25rem;
    color: #d3cece;
    padding-top: 2rem;
}

.infoItemName {
    font-size: 1.3rem;
    color: #818080;
    width: 8rem;
}

.infoLink {
    text-decoration: none;
    font-size: 1.5rem;
    color: #d3cece;
    outline: none;
    background-color: #3b3b3b;
    padding: 0 0.5rem 0 0.5rem;
    border-radius: 1rem;
}

.infoLink:hover {
    background-color: #595858;
    cursor: pointer;
}

.schedule {
    padding: 2rem 0 2rem 0;
    width: 94rem;
}

.scheduleTitle {
    font-size: 2.5rem;
    font-weight: 500;
    color: #d3cece;
    padding-top: 1rem;
    border-bottom: 0.1rem solid #818080;
    padding-bottom: 1.5rem;
    text-align: center;
}
.scheduleSet    {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding: 1rem 0 2rem 0;
}
.schedulePrices {
    display: flex;
    gap: 0.5rem;
    border-right: 0.1rem solid #818080;
    padding-right: 4rem;

}
.scheduleTime   {
    display: flex;
    gap: 0.5rem;

}

.scheduleOptions    {
    background-color: #3f3e3e;
    padding: 0 1rem 0 1rem;
    border-radius: 1rem;
    color: #d3cece;
    font-size: 1.5rem;
    border: none;
    outline: none;
}
.scheduleOptions:hover  {
    cursor: pointer;
    background-color: #7a7979;
    border: none;
    outline: none;
}
.cryptoDescription  {
    padding-top: 2rem;
    width: 25rem;
    color: #d3cece;
    font-size: 1.4rem;
}

@media (max-width: 1024px) {
    .priceData  {
        grid-template-columns: none;
    }
    .rightSide  {
        padding-left: 9rem;
    }
    .schedule   {
        width: 66rem;
    }
}

@media (max-width: 500px)  {
    .container  {
        display: block;
    }
    .rightSide  {
        padding: 0;
    }
    .priceTitle {
        width: 26rem;
    }
    .schedule   {
        width: 33rem;
        margin-left: -5rem;
    }
    .scheduleTitle  {
        margin-left: -10rem;
    }
}