.wrapper    {
    padding-left: 6rem;
    padding-top: 4rem;
    height: 60rem;
    width: 31.5rem;

}
.link   {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    text-decoration: none;
    color: silver;
    font-family: "Noto Sans",sans-serif;
    font-size: 1.5rem;
    width: 23.7rem;
    height: 5rem;
    padding-left: 1.6rem;
}
.link:hover {
    background-color: #498ae7;
    border-radius: 1rem;
}
.linkImg    {
    width: 2.5rem;
    height: 2.5rem;
}
.title  {
    color: silver;
    padding:0 0 1rem 1.6rem;
    font-family: "Noto Sans",sans-serif;
    font-size: 1.1rem;
    margin: 0;
}

@media (max-width: 1024px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
    .wrapper    {
        width: 21.5rem;
        height: 40rem;
    }
    .link   {
        width: 15rem;
    }
}
@media (max-width: 500px) {
   .wrapper {
       padding: 0;
       width: 15rem;
       height: 40rem;
   }
    .link   {
        width: 13rem;
    }
}