.wrapper    {
    border-top: 0.1rem solid #3f3e3e;;
    height: 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.6rem;
}
.title  {
    color: silver;
}
.info   {
    display: flex;
    gap: 2rem;
    color: silver;
}
.servis {
    padding-right: 2rem;
    border-right: 0.1rem solid silver;
}

.social {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icon {
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    opacity: 0.6;
}

@media (max-width: 1024px) {
    .cryptoInfo {
        display: none;
    }

}

@media (max-width: 500px) {
    .cryptoInfo {
        display: none;
    }
    .wrapper    {
        font-size: 1.4rem;
    }
    .title  {
        width: 12rem;
    }
    .info   {
        gap: 1rem;
    }
}